<!doctype html>
<html lang="en">

<head>
	<title>About Us</title>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Music Recommendation WebApp</title>

	<!-- Bootstrap CSS v5.2.1 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
	<link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
	{% include 'header.html' %}

	<main>
		<div class="container-fluid p-3">
			<div class="row">
				{% include 'sidebar.html' %}
				<div class="col">
					<h1 style="text-align: center;">About Page</h1>

					<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-lg-5">
						<div class="col">
							<div class="card h-100">
								<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
									alt="Magret Adekunle">
								<div class="card-body">
									<h4 class="card-title">Magret Adekunle</h4>
									<p class="card-text"><b>Bio:</b> Magret is a senior at UT Austin majoring in Math
										and
										African & American Diaspora Studies.</p>
									<p class="card-text"><b>Main role: </b> Group Leader: FullStack development with
										Flask,
										Python, Bootstrap, & etc. </p>
									<p class="card-text"><b>Commits by Magret: </b>17</p>
									<p class="card-text"><b>Issues Created: </b>12</p>
									<p class="card-text"><b>Unit Tests: </b>0</p>
									<a href="#" class="btn btn-primary">Magret's Profile</a>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="card h-100">
								<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
									alt="">
								<div class="card-body">
									<h4 class="card-title">George Mathew</h4>
									<p class="card-text"><b>Bio:</b> George is a senior at UT Austin studying Biomedical
										Engineering and pursuing a Master's in Data Science after his graduation.</p>
									<p class="card-text"><b>Main role:</b> Backend development with Flask and Python
									</p>
									<p class="card-text"><b>Commits by George: </b>4</p>
									<p class="card-text"><b>Issues Created: </b>0</p>
									<p class="card-text"><b>Unit Tests: </b>0</p>
									<a href="#" class="btn btn-primary">George's Profile</a>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="card h-100">
								<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top"
									alt="">
								<div class="card-body">
									<h4 class="card-title">Holly Luebsen</h4>
									<p class="card-text"><b>Bio: Holly is a junior at UT Austin studying Mathematics and
											pursuing certificates in German, Elements of Computing and Science
											Communication.</b></p>
									<p class="card-text"><b>Main role: </b> Backend and Frontend development (tbd)</p>
									<p class="card-text"><b>Commits by Holly: </b>13</p>
									<p class="card-text"><b>Issues Created: </b>0</p>
									<p class="card-text"><b>Unit Tests: </b>0</p>
									<a href="#" class="btn btn-primary">Holly's Profile</a>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="card h-100">
								<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
									alt="">
								<div class="card-body">
									<h4 class="card-title">Ryan Mullowney</h4>
									<p class="card-text"><b>Bio:</b> Ryan is a software developer for UT's fundraising
										department, and enrolls in CS courses to broaden his skillset and fill in gaps
										in
										knowledge. He has a Bachelor's in History & Philosophy.</p>
									<p class="card-text"><b>Main role:</b> Front-end development with HTML, Bootstrap,
										and
										React </p>
									<p class="card-text"><b>Commits by Ryan: </b>7</p>
									<p class="card-text"><b>Issues Created: </b>3</p>
									<p class="card-text"><b>Unit Tests: </b>0</p>
									<a href="https://gitlab.com/rwmullowney" class="btn btn-primary">Ryan's Profile</a>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="card h-100">
								<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/046.webp" class="card-img-top"
									alt="">
								<div class="card-body">
									<h4 class="card-title">Jack Yeung</h4>
									<p class="card-text"><b>Bio: </b> Jack is a senior at UT Austin studying Biomedical
										Engineering pursuing the Elements of Computing Certificate. </p>
									<p class="card-text"><b>Main role: </b> Backend and Frontend Development (TBD) </p>
									<p class="card-text"><b>Commits by Jack: </b>2</p>
									<p class="card-text"><b>Issues Created: </b>0</p>
									<p class="card-text"><b>Unit Tests: </b>0</p>
									<a href="#" class="btn btn-primary">Jack's Profile</a>
								</div>
							</div>
						</div>
					</div>


					<section>
						<h2 class="display-3 text-center">Tools Used</h2>
						<div class="h3 text-center">
							<a href="https://www.discord.com">Discord (Team Communication)</a><br>
							<a href="https://cloud.google.com/">Google Cloud Platform (Website Hosting)</a><br>
							<a href="https://about.gitlab.com/">GitLab (Git Repository Hosting)</a><br>
							<a href="https://flask.palletsprojects.com/en/2.1.x/">Flask (Framework for Backend)</a><br>
							<a href="https://getbootstrap.com/">Bootstrap (Frontend Formatting)</a><br>
							<a href="https://spotipy.readthedocs.io/en/2.22.1/">Spotipy (Library to access Spotify
								API)</a><br>
							<a href="https://www.postgresql.org/docs/current/app-psql.html">psql (Frontend for
								PostgreSQL)</a><br>
							<a href="https://github.com/lixxu/flask-paginate">Flask Paginate (Pagination Library for
								Python,
								utilized for paginating site)</a><br>

							<!-- <a href="https://jupyter.org/">Jupyter Notebook (Used in scraping Spotify API)</a><br> -->
							<!-- <a href="https://pandas.pydata.org/">Pandas (used in Jupyter Notebook, helped in scraping Spotify API)</a><br><br> -->

							<h2>APIs Used</h2>
							<a href="https://developer.spotify.com/documentation/web-api/">Spotify Web API</a><br>

						</div>
					</section>

					<section>
						<h2 class="display-3 text-center">GitLab Stats</h2>
						<div class="h3 text-center">
							<p>Total Commits: </p>
							<p>Total Issues: </p>
							<p>Total Unit Tests: </p>
							<a href="https://gitlab.com/magretadekunle/cs331e-idb">GitLab Repository</a><br>
							<a href="">GitLab Database Repo</a><br>
							<a href="https://gitlab.com/magretadekunle/cs331e-idb/-/issues">GitLab Issue Tracker</a><br>
							<a href="https://gitlab.com/magretadekunle/cs331e-idb/-/wikis/home">GitLab Wiki</a><br>
							<a href="https://music-recommendation.postman.co/workspace/Team-Workspace~17d1e66a-099f-4ea0-833c-8973e17965de/collection/33692671-6403f3c6-d92b-49af-b5e0-21fc9aa5292a?tab=variables">Postman API Collection</a><br>
							<a href="">Presentation Slides </a>
						</div>
					</section>

					<section>
					</section>
				</div>
			</div>
		</div>
	</main>



	<footer>
		<!-- place footer here -->
	</footer>

	<!-- Bootstrap JavaScript Libraries -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
</body>

</html>