<!-- <div class="container-fluid">
    <header class="border-bottom p-3">
        <div class="row">
            <div class="d-flex col-9">
                This path doesn't work with the showGenre path, apparently because the url has two parts to it
                     i.e. /genre/<genre_name>/.  No idea why that impacts this path, but it's
                     something to resolve
                <img src="../static/images/music-icon.png" id="music-icon" alt="Icon of a music note">
                <h1>MusicRecommendations</h1>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-primary">My Profile</button>
            </div>
        </div>
    </header>
</div> -->

<div class="container-fluid sticky-top bg-white">
    <header class="d-flex flex-wrap align-items-center justify-content-md-between py-2 mb-4 border-bottom border-dark border-1">
        <nav class="navbar sticky-top">
            <div class="navbar-brand">
            <img src="../static/images/music-icon.png" width="45" height="45" class="d-inline-block align-top" alt=""> <b style="font-size: 1.75rem;"> MusicRecommendations</b>
        </nav>

        <!-- <form class="col-md-3 text-end" role="search">
            <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search">
        </form> -->

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-primary">My Profile</button>
        </div>
    </header>
</div>


  


  